table.tablesorter thead tr th.header{
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
}
table.tablesorter thead tr th.headerSortUp{
	background-image: url(asc.gif);
}
table.tablesorter thead tr th.headerSortDown{
	background-image: url(desc.gif);
}