.ctlt-espresso-display-event {
	border: 1px solid #ccc; 
	border-radius: 4px; 
	margin-bottom: 10px;
}

.ctlt-espresso-display-padding {
	padding: 10px;
}

.ctlt-espresso-title-underline {
	border-bottom: 1px solid #aaa;
}

.instruct-spacing {
	position: relative;
	padding: 1em;
}

.copy-all-button-spacing {
	position: relative;
	z-index: 10;
}

.copy-all-button-sucess-style-modification {
	display: none;
	position: absolute; 
	top: .2em; 
	left: 0;
	padding: 1em;
	border-radius: 3px;
	z-index: 1;
	background: #DCF3D9;
	
}